{% extends "accounts/base.html" %}
        
{% block content %}
    <p>Upload Statement</p>        
    <table>
        {% for transaction in transaction_list %}
            <tr>
                {% for field in transaction %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% empty %}                
            <p>No transactions are available</p>
        {% endfor %}
    </table>
    
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save Alias">
    </form>
{% endblock content %}