{% extends "accounts/base.html" %}
        
{% block content %}
    <p>Upload Statement</p>
    <nav>
        <a href="{% url 'accounts:create_alias' %}">New Alias</a>
    </nav>          
    <table>
        {% for transaction in transaction_list %}
            <tr>
                {% for field in transaction %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% empty %}                
            <p>No transactions are available</p>
        {% endfor %}
    </table>
   
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tr>
                {% for field in form %}
                    <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Save Payees">
    </form>

{% endblock content %}