{% extends "accounts/base.html" %}
        
{% block content %}
    <p>Balance Date {{ balance_date }}</p>          
    <table>
        {% for transaction in transaction_list %}
            <tr>
                <td>{{ transaction.account.name }}</td>
                <td>{{ transaction.date }}</td>
                <td><a href="{% url 'accounts:alias_transactions' transaction.alias.id %}">{{ transaction.alias.name }}</a></td>
                <td>{{ transaction.alias.category.name }}</td>
                <td>{{ transaction.alias.subcategory.name }}</td>
                {% if transaction.account.type == 'A' and transaction.alias.category.type == 'E' and  not is_account %}
                    <td>{{ transaction.amount|cut:'-' }}</td>
                {% else %}
                    <td>{{ transaction.amount }}</td>
                {% endif %}
                    </tr>
        {% empty %}
            <p>No transactions are available</p>
        {% endfor %}
    </table>
    {% if is_account %}
        <p>Account Balance {{ balance|floatformat:2 }}</p>
    {% else %}
        <!-- display total if alias is not a double entry -->
        {% if has_category %}
            <p>Total {{ total|floatformat:2 }}</p>
        {% endif %}
    {% endif %}
{% endblock content %}