body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: WhiteSmoke;
}

#mainWrapper {
    width: 80%;
    margin: 0 auto;
}

/* navigation */
nav {
    border-bottom: 1px solid grey;
}

.report {
    display: inline-block;
    width: 500px;
    background-color: white;
}
